/* Estilo de corpo e fundo */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.background {
    background: url('img/0.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do contêiner de texto */
.text-container {
    color: white;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    margin-left: 300px; /* Margem à esquerda para deslocar o contêiner */
    margin-right: 20px; /* Margem à direita para evitar que o texto encoste na borda */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}

/* Estilos para o parágrafo */
.text-container p {
    margin: 0;
    white-space: nowrap; /* Evita quebras de linha */
    font-size: 24px; /* Tamanho fixo em pixels */
    margin-left: 10px; /* Ajusta o deslocamento à esquerda */
}

/* Configurações específicas para o segundo parágrafo */
.text-container p.bold {
    margin-top: 20px; /* Aumenta o espaçamento do segundo parágrafo */
    font-weight: bold;
    font-size: 26px; /* Fonte levemente maior para o segundo parágrafo */
}

/* Efeito de fade-in */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.visible {
    opacity: 1;
}

/* Media Query para telas pequenas */
@media (max-width: 600px) {
    .text-container {
        margin-left: 10px; /* Reduz margem à esquerda em telas menores */
        margin-right: 10px; /* Mantém margem à direita em telas menores */
    }

    .text-container p {
        font-size: 20px; /* Ajuste do tamanho do texto em telas pequenas */
        white-space: pre-wrap; /* Permite quebras de linha onde houver espaços */
    }
}
