/* Estilo de corpo e fundo */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    cursor: none !important; /* Esconde o cursor padrão */
}

.background {
    background: url('img/0.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do contêiner da imagem */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

/* Estilos da imagem central com animação de vinda de uma posição mais distante */
.central-image {
    max-width: 300px; /* Tamanho reduzido da imagem */
    height: auto;
    opacity: 0;
    transform: translateY(200px); /* Começa 200px abaixo */
    transition: opacity 1s ease-in, transform 1s ease-in;
}

/* Quando a imagem se torna visível */
.visible {
    opacity: 1;
    transform: translateY(0); /* Move para o local final */
    animation: bounce 0.5s ease-out 1s; /* Adiciona o pulo após 1 segundo */
}

/* Animação do pulo */
@keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); } /* Sobe um pouco */
    50% { transform: translateY(0); } /* Volta ao centro */
    70% { transform: translateY(-5px); } /* Sobe um pouco menos */
    100% { transform: translateY(0); } /* Volta ao ponto final */
}

/* Estilos do cursor customizado */
.custom-cursor {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 900;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.cursor__small {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F57F17; /* Cor laranja */
    z-index: 5;
}
