/* Estilo de corpo e fundo */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    cursor: none !important; /* Esconde o cursor padrão */
}

.background {
    background: url('img/0.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do contêiner de texto */
.text-container {
    color: white;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    margin-left: 300px;
    margin-right: 20px;
    box-sizing: border-box;
}

/* Estilos para o parágrafo */
.text-container p {
    margin: 0;
    white-space: nowrap;
    font-size: 24px;
    margin-left: 10px;
}

.text-container p.bold {
    margin-top: 20px;
    font-weight: bold;
    font-size: 26px;
}

/* Efeito de fade-in */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.visible {
    opacity: 1;
}

/* Media Query para telas pequenas */
@media (max-width: 600px) {
    .text-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-container p {
        font-size: 20px;
        white-space: pre-wrap;
    }
}

/* Estilos do cursor customizado */
.custom-cursor {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: -40px;
    pointer-events: none;
    z-index: 900;
}

.cursor__small {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F57F17; /* Cor laranja */
    z-index: 5;
}

/* Estilos do cursor customizado */
.custom-cursor {
    width: 80px;
    height: 80px;
    position: absolute;
    pointer-events: none;
    z-index: 900;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); /* Alinha o cursor ao centro do mouse */
}

